PORT=port number,sometimes 5000
MONGO_URI=data base connection MONGO_URI
JWT_SECRET=your jwt token
JWT_EXPIRE=time to expire of jwt token
MJ_APIKEY_PUBLIC=your Public Key form MailJet
MJ_APIKEY_PRIVATE=your secret key from MailJet 
EMAIL_FROM=your mail id